export SECRET_KEY="insert secret key"

export DATABASE_URL="insert database url"

export CLOUD_NAME="cloudinary_cloud_name"

export API_KEY="cloudinary_api_key"

export API_SECRET="cloudinary_api_key"