export SECRET_KEY="insert secret key"

export DATABASE_URL="insert database url"

export CLOUD_NAME="cloudinary_cloud_name"

export API_KEY="cloudinary_api_key"

export API_SECRET="cloudinary_api_key"

export EMAIL_HOST="email_host"

export EMAIL_PORT="email_port"

export EMAIL_HOST_USER="email_host_user"

export EMAIL_HOST_PASSWORD="email_host_password"